:root {
  --primary-color: #808080;
  --secondary-color: #505050;

  --red: #FF6347;
  --green: #41A317;
  --white: #FFF;
  --black: #2c2b31;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--black);
  /* overflow: hidden; */
}

/*********** Global ***********/
.content,
#leaderboard {
  position: absolute;
  visibility: hidden;
  z-index: -9;
}

.content.show {
  position: initial;
  visibility: visible;
  z-index: 9;
}

#leaderboard.show {
  visibility: visible;
  z-index: 99;
}
/*********** Fin Global ***********/

/*********** Header ***********/
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#header h1 {
  margin: 20px 0;
}

#header .leaderboard-btn {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding: 7px 10px;
  border: 1px solid var(--white);
  border-radius: 10px;
  cursor: pointer;
}
/*********** Fin Header ***********/

/*********** Leaderboard ***********/
#leaderboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
}

#leaderboard .leaderboard-content {
  position: relative;
  width: 500px;
  height: 600px;
  background-color: var(--primary-color);
  border-radius: 7px;
}

#leaderboard .leaderboard-content .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

#leaderboard .leaderboard-content .table {
  width: 100%;
  text-align: center;
  padding: 20px;
}
/*********** End Leaderboard ***********/

/*********** Menu Content ***********/
#menu-content {
  width: 300px;
}

#menu-content > div:not(:last-child) {
  margin-bottom: 25px;
}

#menu-content .reset-btn {
  width: fit-content;
  text-align: center;
  padding: 7px 10px;
  border: 1px solid var(--red);
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  transition: .5s;
}
#menu-content .reset-btn:hover {
  background-color: var(--red);
}

#menu-content .players-number {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#menu-content .players-number div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
#menu-content .players-number div.active {
  background-color: var(--secondary-color);
}

#menu-content .players-names div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-content .players-names div:not(:last-child) {
  margin-bottom: 25px;
}

#menu-content .players-names div p {
  margin-right: 10px;
}

#menu-content .players-names div input {
  padding: 5px;
  border: unset;
  border-radius: 10px;
}

#menu-content .grid-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-content .grid-size p {
  margin-right: 10px;
}

#menu-content .start-btn {
  width: 50%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--green);
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}
/*********** Fin Menu Content ***********/

/*********** Game Content ***********/
#game-content {
  width: 50%;
}

#game-content .players {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#game-content .players div {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
}
#game-content .players div.active {
  background-color: var(--secondary-color);
}

#game-content .players div span {
  font-weight: bold;
  margin-right: 10px;
}

#game-content .players div img {
  max-width: 40px;
}

#game-content .grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 0;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#game-content .grid > div {
  width: calc((100% / var(--grid-size)) - calc(10px - var(--grid-size-px)));
  margin-bottom: 10px;
  background-color: var(--black);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  cursor: pointer;
}
#game-content .grid > div.played:hover {
  cursor: not-allowed;
}
#game-content .grid > div:not(.played):hover {
  background-color: var(--secondary-color);
}
#game-content .grid > div.player1 {
  background-image: url(img/x.png);
}
#game-content .grid > div.player2 {
  background-image: url(img/o.png);
}
/*********** Fin Game Content ***********/